$bg-white : #fff;
$bg-blue : #EEF2F5;
$bd-color : #E9EEF2;
$bd-color1 : #0062cc;
$bd-color2 : #343a40;
$br-right : 0.3em;
$color-p1 : #6c757d;
$color-blue : #007bff;
$color-gray : #333;
$color-white : #fff;
$color-focus : #006fe6; 
$color2 : #0069d9;
$color-place : #a6a9ab;
$color-focus : #99caff;
$color-link1 : rgba(255, 255, 255, 0.9);
$color-link2 : rgba(255, 255, 255, 0.65);
$color-link3 : rgba(255, 255, 255, 0.1);
$color-link4 : rgba(33, 37, 41, 0.1);
$color-link5 : rgba(255, 255, 255, 0.5);
$bd-color-white :  rgba(255, 255, 255, 0);
$bg-active : #007bff;
$bd-radius1 : 4px;
$bd-radius2 : 160px;
$bd-top : 0.3em;
$font-weight : 300;
$fw-min : 400;
$fw-midium : 500;
$fw-lar : 600;
$fs-medium: 14px;
$font-size : 16px;
$bd-size : 32px;
$font-larger : 40px;
$font-sizemin : 3.5rem;
$font-s1 : 0.875rem;
$fs-large : 20px;
$pd-top : 5px;
$pd-1 : 8px;
$pd-2 : 16px;
$pd3 : 15px;
$pd4 : 12px;
$pd-3 : 0.75rem;
$mr : 24px;
$mr1 : 16px;
$mb : 20.08px;
$mb1 : 1.4rem;
$ml : 0.255em;
$mt : 4.5rem;
$mb1 : 1.5rem;
$letter-space : 0.85px;
$line-height : 1.3125rem;
$line-height : 1.2;
$width : 30px;
$width1 : 48px;
$max-width : 264px; 
$bottom : 3rem;
$top : 3.7rem;
$top1 : 1.9rem; 
$left : -272px;
$box-sh : 3px;
$box-sh2 : 6px;
$box-sh3 : 4rem;
$color-sh : rgba(0, 0, 0, 0.07);
